There are a handful of greenways in Pittsburgh that we will be looking at to determine the prettiest neighborhood in. First, we will look at the number of acres that each greenway is and the bigger it is, the 'prettier' that it is because that means there is more greenery. Also, as there is not nearly as much data for the greenways as there is for our other datasets, this dataset will act as the decider. For example, if the other 3 datasets are tied between two neighborhoods, but one has a greenway and the other doesn't, the one with the greenway will win.

In [2]:
import pandas as pd
greenways = pd.read_csv("greenways.csv")
greenways[['name', 'acres', 'neighborhood']]

                        name      acres         neighborhood
0      Beechview Seldom Seen  42.675374            Beechview
1                      Moore  27.584380            Brookline
2              Nine Mile Run  11.671078  Squirrel Hill South
3                Perry South  12.812969          Perry South
4                    Bigelow  24.192173  Lower Lawrenceville
5   Observatory Hill Hollows  17.937867          Perry North
6            Allegheny River  34.982359          North Shore
7                  Oakcliffe   5.111200        South Oakland
8  Spring Hill Spring Garden  47.389975        Spring Garden
9                  Hazelwood   3.132885            Hazelwood