## The Prettiest Neighborhood: Amount of Public Art

In [33]:
import pandas as pd
art = pd.read_csv("pghArt.csv")
art[['title','art_type','neighborhood']]

,title,art_type,neighborhood
0,Oakwood Road Monument,NaN,Oakwood
1,Rooster Waiting For The Streetcar,Modern and Contemporary Art,Elliott
2,Middle East Memorial Plaque,War Memorials,Central Business District
3,L'Enfant,Historic Art,Carrick
4,Veterans Memorial (Brookline),War Memorials,Brookline
...,...,...,...
194,17th Ward Veterans Memorial,Non-City Owned,South Side Flats
195,Saint Josephat Honor Roll,Non-City Owned,South Side Slopes
196,World War II Momument,Non-City Owned,Spring Garden
197,Korean War Veterans Memorial,War Memorials,North Shore
198,Vietnam Veterans Memorial,War Memorials,North Shore

In [34]:
nbhdArt={}

for nbhd in art['neighborhood']:
    artCount=0
    for item in range(len(art)):
        if art.iloc[item,8]==nbhd:
            artCount+=1
        nbhdArt[nbhd]=artCount
    if nbhd not in nbhdArt:
        nbhdArt[nbhd]=0

nbhds=pd.DataFrame.from_dict(nbhdArt, orient='index')
nbhds=nbhds.sort_values(0, ascending=False)
new="# of public art displays"
nbhds.index.rename(new, inplace=True)
nbhds.head(100)

                            0
# of public art displays
Central Business District  27
Squirrel Hill South        20
Allegheny Center           18
Highland Park              10
South Side Flats            9
North Shore                 8
Beechview                   7
Shadyside                   6
Brighton Heights            5
Central Oakland             5
Lower Lawrenceville         5
Spring Hill-City View       4
Beltzhoover                 3
Duquesne Heights            3
Greenfield                  3
Elliott                     3
Crawford-Roberts            3
South Side Slopes           3
Point Breeze                3
Hazelwood                   3
Garfield                    2
Upper Hill                  2
Mount Washington            2
Allentown                   2
Central Lawrenceville       2
Strip District              2
Lincoln-Lemington-Belmar    2
Squirrel Hill North         2
East Allegheny              2
West End                    2
Perry North                 2
Brookline                   2
Carrick                     2
Spring Garden               2
Regent Square               1
Sheraden                    1
Polish Hill                 1
Esplen                      1
Swisshelm Park              1
Troy Hill                   1
Crafton Heights             1
Knoxville                   1
Overbrook                   1
Oakwood                     1
East Hills                  1
East Carnegie               1
Bloomfield                  1
East Liberty                1
Stanton Heights             1
Upper Lawrenceville         1
Perry South                 1
Allegheny West              1
North Oakland               1
Hays                        1
Manchester                  1
NaN                         0

List of neighborhoods and their amount of displays of public art.

In [35]:
nbhds.describe()

               0
count  56.000000
mean    3.517857
std     4.917468
min     0.000000
25%     1.000000
50%     2.000000
75%     3.000000
max    27.000000

Since the mean is 3.5, we will eliminate the neighborhoods with less than 4 public art displays.

In [36]:
nbhds=(nbhds.loc[nbhds[0] > 4])
nbhds.head(10)

                            0
# of public art displays
Central Business District  27
Squirrel Hill South        20
Allegheny Center           18
Highland Park              10
South Side Flats            9
North Shore                 8
Beechview                   7
Shadyside                   6
Brighton Heights            5
Central Oakland             5

These are the top ten candidates for prettiest neighborhood in terms of amount of public art display.
Note: Highland Park is considered East Liberty for our purposes.